<p id="notice"><%= notice %></p>
  <h2><%= @job.name %></h2>
<%= @job.updated_at.strftime("%d/%m/%Y") %>

<br />

<%= @job.title %>

<br /><br />

<%= raw @job.content %>

<br /><br />
<% if current_user %>
  <% if @job.users.exists?(current_user) %>
    <span style="color:green;">Du har sökt jobbet</span>
  <% else %>
    <%= link_to("Sök jobbet", add_job_path(@job.id), :method => :put) %>
  <% end %>
<% else %>
  <span style="text-decoration:underline;">Du måste vara inloggad och registrerad för att kunna ansöka.</span>
<% end %>

<br />
<br />
<%= link_to 'Tillbaka', jobs_path %>